<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Registration System</title>
</head>
<body> 
    <main class="mt-5 mb-5 container">
        <p class="ms-5"><a href="#">selectClass</a> > Confirmation</p>
        <div class=" card p-0">
            <div class="card-header bg-success">
                <h1 class="card-title text-center text-light">Confirm your Solicitude</h1>
            </div>
            <div class="card-body row text-center ps-5 pe-5">
                <div class="m-0 p-0">
                    <div class="pt-2 ps-3 pe-3 table-responsive">
                        <table class="table table-hover border-dark">
                            <tbody>
                                <tr>
                                    <th>Name:</th>
                                    <th>Jose Maria De La Rosa Rosa</th>
                                </tr>
                                <tr>
                                    <th>Province:</th>
                                    <th>Santo Domingo</th>
                                </tr>
                                <tr>
                                    <th>City:</th>
                                    <th>National District</th>
                                </tr>
                                <tr>
                                    <th>Sector:</th>
                                    <th>Los km</th>
                                </tr>
                                <tr>
                                    <th>Street:</th>
                                    <th>av. independencia km11</th>
                                </tr>
                                <tr>
                                    <th>Career:</th>
                                    <th>Software Development</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="mt-4 text-center">
                    <div class="p-0 table-responsive">
                        <table class="table table-dark table-striped table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th>Class</th>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                    <th>Saturday</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Class name</th>
                                    <th>Monday Schedules</th>
                                    <th></th>
                                    <th>Wednesday Schedules</th>
                                    <th>Thursday Schedules</th>
                                    <th>Friday Schedules</th>
                                    <th>Saturday Schedules</th>
                                </tr>
                                <tr>
                                    <th>Class name</th>
                                    <th>Monday Schedules</th>
                                    <th></th>
                                    <th>Wednesday Schedules</th>
                                    <th>Thursday Schedules</th>
                                    <th></th>
                                    <th>Saturday Schedules</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <button class="btn btn-success">Next</button>
            </div>
        </div>
    </main>
    <script src="../assets/js/JQuery/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/site/index.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
</body>
</html>