<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Document</title>
</head>
<body>
    <main class="mt-5 container">
        <p class="ms-5"><a href="#">Personal Date</a> > select class</p>
        <div class=" card p-0">
            <div class="card-header bg-dark">
                <h1 class="card-title text-center text-light">Select Class</h1>
            </div>
            <div class="card-body row mx-auto row table-responsive">
                <table class="table text-center table-bordered border-dark">
                    <thead>
                        <tr>
                            <th>Name class</th>
                            <th>Select class</th>
                            <th>Schedules</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>class 1</th>
                            <th><input type="checkbox" name="" id="selectClass1"></th>
                            <th>
                                <label>Monday - 9:00am/11:50am <input type="radio" name="classR" id="classM1"></label> | 
                                <label>Thursday - 12:00pm/5:50pm <input type="radio" name="classR" id="classT1"></label> | 
                                <label>Friday - 6:00pm/10:50pm <input type="radio" name="classR" id="classF1"></label>
                            </th>
                        </tr>
                        <!--this is just for an example-->
                        <tr>
                            <th>class 2</th>
                            <th><input type="checkbox" name="" id="selectClass2"></th>
                            <th>
                                <label>Monday - 9:00am/11:50am <input type="radio" name="classR" id="classM1"></label> | 
                                <label>Thursday - 12:00pm/5:50pm <input type="radio" name="classR" id="classT1"></label> | 
                                <label>Friday - 6:00pm/10:50pm <input type="radio" name="classR" id="classF1"></label>
                            </th>
                        </tr>
                        <tr>
                            <th>class 3</th>
                            <th><input type="checkbox" name="" id="selectClass3"></th>
                            <th>
                                <label>Monday - 9:00am/11:50am <input type="radio" name="classR" id="classM1"></label> | 
                                <label>Thursday - 12:00pm/5:50pm <input type="radio" name="classR" id="classT1"></label> | 
                                <label>Friday - 6:00pm/10:50pm <input type="radio" name="classR" id="classF1"></label>
                            </th>
                        </tr>
                        <tr>
                            <th>class 4</th>
                            <th><input type="checkbox" name="" id="selectClass4"></th>
                            <th>
                                <label>Monday - 9:00am/11:50am <input type="radio" name="classR" id="classM1"></label> | 
                                <label>Thursday - 12:00pm/5:50pm <input type="radio" name="classR" id="classT1"></label> | 
                                <label>Friday - 6:00pm/10:50pm <input type="radio" name="classR" id="classF1"></label>
                            </th>
                        </tr>
                        <tr>
                            <th>class 5</th>
                            <th><input type="checkbox" name="" id="selectClass5"></th>
                            <th>
                                <label>Monday - 9:00am/11:50am <input type="radio" name="classR" id="classM1"></label> | 
                                <label>Thursday - 12:00pm/5:50pm <input type="radio" name="classR" id="classT1"></label> | 
                                <label>Friday - 6:00pm/10:50pm <input type="radio" name="classR" id="classF1"></label>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <script src="../assets/js/JQuery/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/site/index.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
</body>
</html>